:root {
    --mainMenuColor: linear-gradient(360deg, #121212 14.84%, #232323 70.76%, #404040 100%);
    --sideMenuColor: #121212;
    --playerColor: #282828;
    --fontColorTitle: #FDFDFD;
    --fontColorSmall: #b3b3b3;
    --backgroundColor: #000000 ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

body {
    background: var(--backgroundColor);
}

#app {
    gap: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas: 
        "side1 main"  
        "side2 main"
        "footer footer";
    /*position: absolute;*/
}



